@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-editor {
  min-height: 300px;
}

/* Styling untuk konten deskripsi pelatihan */
.prose-custom {
  --tw-prose-headings: #111827; /* warna heading */
  --tw-prose-body: #374151;
  --tw-prose-links: #1d4ed8;
  --tw-prose-bold: #111827;
  --tw-prose-bullets: #9ca3af;
  --tw-prose-hr: #e5e7eb;

  /* ukuran teks & spasi */
  font-size: 0.95rem;
  line-height: 1.6;
}

.prose-custom h1 {
  font-size: 1.5rem; /* kecilkan h1 */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.prose-custom h2 {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.prose-custom h3 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.prose-custom p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose-custom ul,
.prose-custom ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 1.2rem;
}

.prose-custom li {
  margin-bottom: 0.15rem;
}

.prose-custom a {
  color: #1d4ed8;
  text-decoration: underline;
}

.prose-custom a:hover {
  color: #2563eb;
}
