.prose-content {
  --tw-prose-headings: #111827; /* warna heading */
  --tw-prose-body: #374151;
  --tw-prose-links: #1d4ed8;
  --tw-prose-bold: #111827;
  --tw-prose-bullets: #9ca3af;
  --tw-prose-hr: #e5e7eb;

  /* ukuran teks & spasi */
  font-size: 0.95rem;
  line-height: 1.6;
}

.prose-content h1 {
  font-size: 1.5rem; /* kecilkan h1 */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.prose-content h2 {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.prose-content h3 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.prose-content p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose-content ul,
.prose-content ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 1.2rem;
}

.prose-content li {
  margin-bottom: 0.15rem;
}

.prose-content a {
  color: #1d4ed8;
  text-decoration: underline;
}

.prose-content a:hover {
  color: #2563eb;
}

.ql-editor {
  @apply prose prose-content max-w-none min-h-[300px];
}